<nav class="navbar navbar-dark text-white  justify-content-between" style="background-color: #004a9f; padding: 2px; ">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <a class="navbar-brand ml-3"> Bits And Byte Institute of Technology</a>
    <form class="form-inline">

     
            <a class="btn mr-1" type="button" routerLink="/studentBlog" id="dropdownMenu2" data-toggle="dropdown" >
                 <i class="fa fa-rss text-white fa-2x" style="font-size: 25px;" aria-hidden="true"></i> 
            </a>
       

        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-danger mr-1" (click)="logout()" type="submit">Log Out</button>
    </form>
</nav>
<!-- SideNav Bar -->

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">

        <img class="avatar mat-elevation-z8" src="../../assets/images/user.jpg" />

        <h4 class="name">{{studentList.studentName}}</h4>

        <mat-divider></mat-divider>

        <a mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>

        <a mat-button class="menu-button" routerLink="/studentProfile">
            <mat-icon>person</mat-icon>
            <span>My Profile</span>
        </a>
        <a mat-button class="menu-button" routerLink="/message">
            <mat-icon>message</mat-icon>
            <span>Message</span>
        </a>

        <a mat-button class="menu-button" routerLink="/studentCourse">
            <mat-icon>file_copy</mat-icon>
            <span>Courses</span>
        </a>

        <a mat-button class="menu-button" routerLink="/studentMaterial">
            <mat-icon>more</mat-icon>
            <span>View Material</span>
        </a>

       




    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="content mat-elevation-z8">


        <div class="content">

            <div class="card mb-3 overflow-auto mt-3" style="max-width: 100%; background-image: url(../../assets/images/notice.jpg); height: 300px;">
                <div class="row no-gutters">
              
                    <div class="col-md-12" >
                        <div class="card-body ">
                            <marquee width="100%" direction="left"  class="text-white">
                                <ol start="1" class="text-white" >
                                  <div *ngFor="let notice of noticeList">
                                    <li>
                                        <p> {{notice.title}}
                                            <a href="{{notice.link}}" *ngIf="notice.link" target="_blank"> <button
                                                    class="btn btn-danger text-white">Click Here</button></a>
                                        </p>
                                    </li>
                                  </div>
                                </ol>
                            </marquee>
                        </div>
                    </div>
                </div>
              </div>

          
<div class="row ">           
    <div class="col-lg-4 col-md-6 col-sm-6 my-1" *ngFor="let course of courseList ">
      <button class="glow-on-hover" type="button"  style="height: 90px;">{{course.courseName}}</button>    
    </div>
  </div>
  


        </div>


    </mat-sidenav-content>
</mat-sidenav-container>