<!-- First Navbar

<nav class="navbar navbar-expand-lg navbar-dark text-white" style="background: #062D72; padding: 1px;">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto list">
        <li>
          <a class="navbar-brand text-primary" >
            <i class="fa fa-envelope-o  mr-4 text-white " aria-hidden="true"> bitsandbyte@gmail.com</i>      
        </a>
        </li>
        <li>
          <a class="navbar-brand text-primary" >
            <i class="fa fa-phone  mr-4 text-white " aria-hidden="true"> +977-9845474532</i>      
        </a>
        </li>
       
  
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="https://www.facebook.com/bitsandbytetech" target="_blank"> <i class="fa fa-facebook-square fa-2x mr-3 text-white" aria-hidden="true"></i> </a> 
        <a href="https://www.instagram.com/bitsandbytetech/" target="_blank" > <i class="fa fa-instagram fa-2x mr-3 text-white" aria-hidden="true"></i></a>
       <a href="https://www.linkedin.com/company/bitsandbytetech/" target="_blank"> <i class="fa fa-linkedin-square fa-2x text-white mr-3 " aria-hidden="true"></i> </a> 
      
      
        <button class="btn btn-outline-info my-sm-0 my-2 text-white" type="submit" routerLink="/login">Login</button>
        
      </form>
    </div>
  </nav> -->


  <!-- second Navbar -->
  <div class="content">
<nav class="navbar navbar-light  " style="margin: 0px; padding: 0px;">
    <a class="navbar-brand  "  >
      <img src="/assets/images/logo.png" width="120" height="60" alt="" style="margin-left: 3px;  margin: 0px;">
    </a>
    <form class="form-inline my-2 my-lg-0" >
      <a  class="mr-3 btn btn-white  my-1 "   routerLink="/homepage"> Home </a> 
      <a   class="mr-3 btn btn-white  my-1" routerLink="/aboutus" > About Us</a>
      <a   class="mr-3 btn btn-white  my-1" routerLink="/homeCourse" > Courses</a>
      <a   class="mr-3 btn btn-white  my-1" routerLink="/blog" >Blog</a>
     <a href="#"  class="mr-3 btn btn-white  my-1" routerLink="/homeContact"> Contact</a>
     
     <input  class="form-control mr-sm-2" style="width: 135px;" type="search" placeholder="Search Course" aria-label="Search">
     
        <button class="btn btn-info my-sm-0 my-1 " type="submit" routerLink="/login">Login</button>
     
    
    

  </form>
  
  </nav>

</div>
<hr>