.btn:hover{
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.btn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  
  
  
}

.content {
 
    border-radius: 10px;
    margin: 16px;
    margin-left: 30px;
    font-size: 13px;
    margin-right: 30px;

}