<nav class="navbar navbar-dark text-white  justify-content-between   " style="background-color: #004a9f;padding: 2px;">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  <a class="navbar-brand ml-2"> Bits And Byte Institute of Technology</a>
  <form class="form-inline">

    <div class="dropdown ">
      <a class="btn " type="button" id="dropdownMenu2" data-toggle="dropdown">
        <i class="	fa fa-book text-white " style="font-size: 25px;" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu  " aria-labelledby="dropdownMenu2 ">
        <button class="dropdown-item " type="button" routerLink="/addCourse">Add Course</button>
        <button class="dropdown-item  " type="button" routerLink="/adminViewCourse">View Course</button>

      </div>
    </div>


    <div class="dropdown ">
      <a class="btn " type="button" id="dropdownMenu2" data-toggle="dropdown">
        <i class="fa fa-comments  text-white " style="font-size: 25px;" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu  " aria-labelledby="dropdownMenu2 ">
        <button class="dropdown-item " type="button" routerLink="/adminMessage">Student</button>
        <button class="dropdown-item  " type="button" routerLink="/contactForm">Contact Form</button>
      </div>
    </div>

    <div class="dropdown    ">
      <a class="btn  " type="button" id="dropdownMenu2" data-toggle="dropdown">
        <i class="fa fa-rss  text-white " style="font-size: 25px;" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu  " aria-labelledby="dropdownMenu2 ">
        <button class="dropdown-item " type="button" routerLink="/adminBlog">Blog</button>
        <button class="dropdown-item  " type="button" routerLink="/pendingBlog">Pending Blog</button>
      </div>
    </div>

    <input class="form-control mr-sm-2" name="search" [(ngModel)]="searchText" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-danger mr-1"  type="submit">Log Out</button>
  </form>
</nav>
  <!-- SideNav Bar -->
  
  <mat-sidenav-container>
      <mat-sidenav #sidenav="matSidenav" >
  
          <img class="avatar mat-elevation-z8" src="../../assets/images/user.jpg" />
  
          <h4 class="name">Alok Sinha</h4>
  
          <mat-divider></mat-divider>
  
          <a mat-button class="menu-button" routerLink="/adminDashboard">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>
  
        <a mat-button class="menu-button" routerLink="/addStudent">
            <mat-icon>group_add</mat-icon>
            <span>Add Student</span>
        </a>
        <a mat-button class="menu-button" routerLink="/studentDetails">
            <mat-icon>info</mat-icon>
            <span>Student Details</span>
        </a>
  
  
        <a mat-button class="menu-button" routerLink="/addMaterial">
            <mat-icon>cloud_upload</mat-icon>
            <span>Material</span>
        </a>

        <a mat-button class="menu-button" routerLink="/addNotice">
            <mat-icon>more</mat-icon>
            <span>Notice</span>
        </a>

  
       
       
  
         
  
        
      </mat-sidenav>
  
      <!-- Main Content -->
       <mat-sidenav-content class="content mat-elevation-z8 ">
          <!-- <div class="content mat-elevation-z8"> -->
             
              <div class="content ">

                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/adminDashboard">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Notice </li>
                  </ol>
                </nav>
  
                  <form #noticeForm='ngForm' (ngSubmit)='onSubmit()'>
                    <div class="form-row">
                      <div class="form-group col-md-5">
                        <label for="inputCity">Notice</label>
                        <input type="text" class="form-control" name='notice' class='form-control' [(ngModel)]='notice.title' required #title='ngModel' placeholder="Enter Notice Title">
                      </div>
                      <div class="form-group col-md-5">
                        <label for="inputCity">Link</label>
                        <input type="text" class="form-control" name='link' class='form-control' [(ngModel)]='notice.link' required #link='ngModel' placeholder="Enter link here">
                      </div>
                  
  
                      
  
                      <div class="form-group col-md-2 mt-1">
               
                        <button class="btn btn-primary mt-4 ml-5" name="register"
                        value="register" >Submit</button>
                      </div>
  
                 
                      
                    </div>
                    
                    
  
                     
                    </form>
  
                    <div class="table_responsive">
  
                    <table class="table ta table-striped table-light table-hover mt-3">
                      <thead class="thead text-white" style="background-color: #004a9f;">
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Notice Title</th>
                          <th scope="col">Link</th>
                          <th scope="col" >Action</th>
                         
                        
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor = 'let notice of noticeList | filter : searchText'>
                          <td>{{notice.time}}</td>
                          <td>{{notice.title}}</td>
                          <td>{{notice.link}}</td>
                          <td>

                            <a href="{{notice.link}}" *ngIf="notice.link" target="_blank"> <button
                              class="btn btn-secondary my-1 mr-2 text-white"><i class="fa fa-eye mr-2  text-white" aria-hidden="true"></i>View</button></a>

                        
                            <button class="btn btn-danger" (click)="delete(notice.noticeId)"> <i class="fa fa-trash  text-white"  aria-hidden="true"></i> Delete</button>
                        </td>
                        </tr>
  
                      
                      
                            
                        
                        
                          
  
                           
                      </tbody>
                    </table>
  
                  </div>
          </div>
      </mat-sidenav-content>
  </mat-sidenav-container>