<app-home-navbar></app-home-navbar>

<div class="content">
<div class="row  ">
    <!--  -->
  
    <div class="col-lg-4 col-md-4 col-sm-12 my-1 " *ngFor="let course of courseList">
      <div class="card shadow d-flex flex-column" >
          <img class="card-img-top" src="{{course.courseImgUrl}}" *ngIf="course.courseImgUrl" width="100%" height="200px"
              class="card_img" alt="Card image cap">
              <img class="card-img-top" src="../../assets/images/logo2.png" *ngIf="!course.courseImgUrl" width="100%" height="200px"
              class="card_img" alt="Card image cap">
          <div class="card-body l-bg-blue-dark">
              <h5 class="card-title">{{course.courseName}}</h5>
              <p class="card-text" style=" text-overflow: ellipsis;   overflow: hidden;white-space: nowrap;" [innerHtml]="course.courseDescription" >
                 </p>
              <a href="#" class="btn btn-info">Read More..</a>
          </div>
      </div>
    </div>
    
    
    </div>

</div>  
    

    <app-footer></app-footer>