mat-toolbar {
    background: #004a9f;
    color: white;
    display: inline-block;   
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
        height: calc(100vh - 98px);
        border-radius: 10px;
        margin: 16px;
        margin-left: 32px;
        display: block;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    color: white;

   
}
mat-icon {
    margin-right: 8px;
}
.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}


@media (min-width:320px){
    .p_img{
       margin-left: 180px;
      
    }
}
    


