
<nav class="navbar navbar-dark text-white  justify-content-between" style="background-color: #004a9f; padding: 3px;">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>                                 
    </button>
    <a class="navbar-brand"> Bits And Byte Institute of Technology</a>
    <form class="form-inline">


      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-danger mr-1" type="submit">Log Out</button>
    </form>
  </nav>
  
  <!-- Side Nav Bar -->
  <mat-sidenav-container >
    <mat-sidenav #sidenav="matSidenav" >

      <img class="avatar mat-elevation-z8" src="../../assets/images/user.jpg" />

      <h4 class="name">Alok Sinha</h4>

      <mat-divider></mat-divider>

      <a mat-button class="menu-button" routerLink="/userDashboard"  >
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </a>

      <a mat-button class="menu-button" routerLink="/userProfile">
          <mat-icon>person</mat-icon>
          <span>My Profile</span>
      </a>
 

    <a mat-button class="menu-button" routerLink="/userBlog">
      <mat-icon>view_carousel</mat-icon>
      <span>Blog</span>
  </a>

  <a mat-button class="menu-button" routerLink="/createBlog">
      <mat-icon>create</mat-icon>
      <span>Create Blog</span>
  </a>

  
  <a mat-button class="menu-button" routerLink="/userPendingBlog">
      <mat-icon> near_me</mat-icon>
      <span>Pending Blog</span>
  </a>

   
    

     

    
  </mat-sidenav>
  <!-- Main Content Here -->
  
  <mat-sidenav-content class="content mat-elevation-z8 ">
    <!-- <div class="content mat-elevation-z8"> -->
        <h1 class="text-center mt-4 text-primary "> <strong>Student Profile</strong> </h1>
        <div class="content ">

        <form #userform='ngForm' (ngSubmit)='addStudent()'>

         

          <!--  -->

          <div class="form-row float-right" >
            <div class="form-group col-md-3">
              <div style="text-align:center">
                     
                <div><img src="../../assets/images/alok.jpg"  width="250px" height="250px" class=" p_img"></div>
            
              </div>
              
              </div>
        </div>


          <!--  -->

            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="id" class="text-dark"> <strong> Student ID :</strong></label>
                   <h2 class="text-primary"> <strong>21BAB0001</strong> </h2>
                  </div>

              <div class="form-group col-md-6">
                <label for="id" class="text-dark"> <strong> Name :</strong></label>
                <h2 class="text-primary"> <strong>Alok Sinha</strong> </h2>
              </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="id" class="text-dark"> <strong> Father's Name :</strong></label>
                  <h2 class="text-primary"> <strong>Ashok Kumar Shrivastav</strong> </h2>
                  </div>
              <div class="form-group col-md-6">
                <label for="id" class="text-dark"> <strong> Mother's Name :</strong></label>
                   <h2 class="text-primary"> <strong>Kamala Kumari Shrivastav</strong> </h2>
              </div>
            </div>

            <!--  -->
           
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="id" class="text-dark"> <strong> Gender :</strong></label>
                <h2 class="text-primary"> <strong>Male</strong> </h2>
                </div>
            <div class="form-group col-md-6">
              <label for="id" class="text-dark"> <strong> Date Of Birth :</strong></label>
                 <h2 class="text-primary"> <strong>Nov 17, 2014</strong> </h2>
            </div>
          </div>

            <div class="form-row ">

                <div class="form-group col-md-6">
                  <label for="id" class="text-dark"> <strong> Phone Number :</strong></label>
                  <h2 class="text-primary"> <strong>845123658</strong> </h2>
                  </div>
              <div class="form-group col-md-6">
                <label for="id" class="text-dark"> <strong> Parent Number :</strong></label>
                 <h2 class="text-primary"> <strong>4581236584</strong> </h2>
              </div>

             
              
            </div>

            <div class="form-row ">

           
            <div class="form-group col-md-6">
              <label for="id" class="text-dark"> <strong> Email :</strong></label>
              <h2 class="text-primary"> <strong>aloksinha@gmail.com </strong> </h2>
            </div>

            <div class="form-group col-md-6">
              <label for="id" class="text-dark"> <strong> Blood Group :</strong></label>
                 <h2 class="text-primary"> <strong>B-</strong> </h2>
            </div>
            
          </div>

            <div class="form-group">
              <label for="id" class="text-dark"> <strong> Current Address :</strong></label>
              <h2 class="text-primary"> <strong>Chennai, India</strong> </h2>
            </div>

            <div class="form-group">
              <label for="id" class="text-dark"> <strong> Permanent Address :</strong></label>
                 <h2 class="text-primary"> <strong>Gaur-3, Ratutahat Nepal</strong> </h2>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">

                <label for="id" class="text-dark"> <strong> Course Name :</strong></label>
                <h2 class="text-primary"> <strong>Java Full Stack Developer</strong> </h2>
              </div>

              <div class="form-group col-md-6">

              <label for="id" class="text-dark"> <strong> Course Duration :</strong></label>
                 <h2 class="text-primary"> <strong>6 Months</strong> </h2>
              </div>

              <div class="form-group col-md-4">

                <label for="id" class="text-dark"> <strong>Status :</strong></label>
                <h2 class="text-primary"> <strong>Ongoing</strong> </h2>
              </div>

              <div class="form-group col-md-4">

                  <label for="id" class="text-dark"> <strong> Nationality</strong></label>
                 <h2 class="text-primary"> <strong>Nepali</strong> </h2>
              </div>
             
            </div>         
          </form>

    </div>
</mat-sidenav-content>
  </mat-sidenav-container>