<app-home-navbar></app-home-navbar>

<div class="container  h-100 text-white bg-white ">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="../../assets/images/user.jpg" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form #userform='ngForm' (ngSubmit)='userlogin()'> 
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input type="text" name='studentId' class='form-control' [(ngModel)]='user.username' required
                        #username='ngModel'class="form-control input_user" id="login.studentId" placeholder="username">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input type="password" name='password' class='form-control' [(ngModel)]='user.password' required
                        #password='ngModel' class="form-control input_pass" id="password" placeholder="password">
                    </div>
                  
                        <div class="d-flex justify-content-center mt-3 login_container">
                 <button type="submit" name="register" value="register" class="btn login_btn">Login</button>
               </div>
                </form>
            </div>
    
            <div class="mt-4">
                
                <div class="d-flex justify-content-center links ">
                    <a href="#" class="text-dark">Forgot your password?</a>
                </div>

                <div class="d-flex justify-content-center links ">
                    <a routerLink="/userSignUp" class="text-dark">Not a member? Signup Now</a>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>