<nav class="navbar navbar-dark text-white  justify-content-between" style="background-color: #004a9f; padding: 2px; ">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  <a class="navbar-brand ml-3"> Bits And Byte Institute of Technology</a>
  <form class="form-inline">

   
          <a class="btn mr-1" type="button" routerLink="/studentBlog" id="dropdownMenu2" data-toggle="dropdown" >
               <i class="fa fa-rss text-white fa-2x" style="font-size: 25px;" aria-hidden="true"></i> 
          </a>
     

      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-danger mr-1" type="submit">Log Out</button>
  </form>
</nav>
<!-- SideNav Bar -->

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">

        <img class="avatar mat-elevation-z8" src="../../assets/images/user.jpg" />

        <h4 class="name">Alok Sinha</h4>

        <mat-divider></mat-divider>

        <a mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>

        <a mat-button class="menu-button" routerLink="/studentProfile">
            <mat-icon>person</mat-icon>
            <span>My Profile</span>
        </a>
        <a mat-button class="menu-button" routerLink="/message">
            <mat-icon>message</mat-icon>
            <span>Message</span>
        </a>

        <a mat-button class="menu-button" routerLink="/studentCourse">
          <mat-icon>file_copy</mat-icon>
          <span>Courses</span>
      </a>

        <a mat-button class="menu-button" routerLink="/studentMaterial">
            <mat-icon>more</mat-icon>
            <span>View Material</span>
        </a>



    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="content mat-elevation-z8 ">
        <!-- <div class="content mat-elevation-z8"> -->
        
            <div class="content ">

              <div class="table_responsive">

                <table class="table ta table-striped table-light table-hover mt-3">
                  <thead class="thead text-white" style="background-color: #004a9f;">
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">File Name</th>
                      <th scope="col">Category</th>
                      <th scope="col" >Action</th>
                     
                    
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Excel</td>
                      <td>excel</td>
                      <td>
                        <button  class="btn btn-info" data-bs-toggle="modal"  data-bs-target="#exampleModal"> <i class="fa fa-download mr-2  text-white" aria-hidden="true"></i>Download</button>
                    </td>
                    </tr>

                   <tr>
                      <th scope="row">2</th>
                      <td>Excel</td>
                      <td>excel</td>
                      <td>
                        <button  class="btn btn-info" data-bs-toggle="modal"  data-bs-target="#exampleModal"> <i class="fa fa-download mr-2  text-white" aria-hidden="true"></i>Download</button>
                    </td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Excel</td>
                      <td>excel</td>
                      <td>
                        <button  class="btn btn-info" data-bs-toggle="modal"  data-bs-target="#exampleModal"> <i class="fa fa-download mr-2  text-white" aria-hidden="true"></i>Download</button>
                    </td>
                    </tr>

                    <tr>
                      <th scope="row">4</th>
                      <td>Excel</td>
                      <td>excel</td>
                      <td>
                        <button  class="btn btn-info" data-bs-toggle="modal"  data-bs-target="#exampleModal"> <i class="fa fa-download mr-2  text-white" aria-hidden="true"></i>Download</button>
                    </td>
                    </tr>       
                    
                    
                    <tr>
                      <th scope="row">4</th>
                      <td>Excel</td>
                      <td>excel</td>
                      <td>
                        <button  class="btn btn-info" data-bs-toggle="modal"  data-bs-target="#exampleModal"> <i class="fa fa-download mr-2  text-white" aria-hidden="true"></i>Download</button>
                    </td>
                    </tr>     
                    
                    <tr>
                      <th scope="row">4</th>
                      <td>Excel</td>
                      <td>excel</td>
                      <td>
                        <button  class="btn btn-info" data-bs-toggle="modal"  data-bs-target="#exampleModal"> <i class="fa fa-download mr-2  text-white" aria-hidden="true"></i>Download</button>
                    </td>
                    </tr>      

                    <tr>
                      <th scope="row">4</th>
                      <td>Excel</td>
                      <td>excel</td>
                      <td>
                        <button  class="btn btn-info" data-bs-toggle="modal"  data-bs-target="#exampleModal"> <i class="fa fa-download mr-2  text-white" aria-hidden="true"></i>Download</button>
                    </td>
                    </tr>      

                    <tr>
                      <th scope="row">4</th>
                      <td>AI</td>
                      <td>AI</td>
                      <td>
                        <button  class="btn btn-info" data-bs-toggle="modal"  data-bs-target="#exampleModal"> <i class="fa fa-download mr-2  text-white" aria-hidden="true"></i>Download</button>
                    </td>
                    </tr>      

                    
                    <tr>
                      <th scope="row">4</th>
                      <td>Excel</td>
                      <td>excel</td>
                      <td>
                        <button  class="btn btn-info" data-bs-toggle="modal"  data-bs-target="#exampleModal"> <i class="fa fa-download mr-2  text-white" aria-hidden="true"></i>Download</button>
                    
                    </td>
                    </tr>       
                  </tbody>
                </table>

              </div>
                  

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>