<nav class="navbar navbar-dark text-white  justify-content-between" style="background-color: #004a9f; padding: 2px; ">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <a class="navbar-brand ml-3"> Bits And Byte Institute of Technology</a>
    <form class="form-inline">
  
     
            <a class="btn mr-1" type="button" routerLink="/studentBlog" id="dropdownMenu2" data-toggle="dropdown" >
                 <i class="fa fa-rss text-white fa-2x" style="font-size: 25px;" aria-hidden="true"></i> 
            </a>
       
  
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-danger mr-1" type="submit">Log Out</button>
    </form>
  </nav>
    <!-- Side Nav Bar -->
    <mat-sidenav-container >
      <mat-sidenav #sidenav="matSidenav" >
  
        <img class="avatar mat-elevation-z8" src="../../assets/images/user.jpg" />
  
        <h4 class="name">Alok Sinha</h4>
  
        <mat-divider></mat-divider>
  
        <a mat-button class="menu-button" routerLink="/studentDashboard"  >
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>
  
        <a mat-button class="menu-button" routerLink="/studentProfile">
            <mat-icon>person</mat-icon>
            <span>My Profile</span>
        </a>
        <a mat-button class="menu-button" routerLink="/message">
            <mat-icon>message</mat-icon>
            <span>Message</span>
        </a>
  
        <a mat-button class="menu-button" routerLink="/studentCourse">
            <mat-icon>file_copy</mat-icon>
            <span>Courses</span>
        </a>
     
      
  
        <a mat-button class="menu-button" routerLink="/studentMaterial">
            <mat-icon>more</mat-icon>
            <span>View Material</span>
        </a>
       
  
      
    </mat-sidenav>
    <!-- Main Content Here -->
    
    <mat-sidenav-content class="content mat-elevation-z8 " >
      <!-- <div class="content mat-elevation-z8"> -->

          <div class="content ">
            <div class="row  ">
                <!--  -->
              
                <div class="col-lg-4 col-md-4 col-sm-12 my-1 " *ngFor="let course of courseList">
                  <div class="card shadow d-flex flex-column    `" >
                      <img class="card-img-top" src="{{course.courseImgUrl}}" *ngIf="course.courseImgUrl" width="100%" height="200px"
                          class="card_img" alt="Card image cap">
                          <img class="card-img-top" src="../../assets/images/logo2.png" *ngIf="!course.courseImgUrl" width="100%" height="200px"
                          class="card_img" alt="Card image cap">
                      <div class="card-body l-bg-blue-dark">
                          <h5 class="card-title">{{course.courseName}}</h5>
                          <p class="card-text" style=" text-overflow: ellipsis;   overflow: hidden;white-space: nowrap;" [innerHtml]="course.courseDescription" >
                             </p>
                          <a href="#" class="btn btn-info">Read More..</a>
                      </div>
                  </div>
                </div>
                
                
                </div>
  
  
      </div>
  </mat-sidenav-content>
    </mat-sidenav-container>