<nav class="navbar navbar-dark text-white  justify-content-between   " style="background-color: #004a9f;padding: 2px;">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  <a class="navbar-brand ml-2"> Bits And Byte Institute of Technology</a>
  <form class="form-inline">

    <div class="dropdown ">
      <a class="btn " type="button" id="dropdownMenu2" data-toggle="dropdown">
        <i class="	fa fa-book text-white " style="font-size: 25px;" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu  " aria-labelledby="dropdownMenu2 ">
        <button class="dropdown-item " type="button" routerLink="/addCourse">Add Course</button>
        <button class="dropdown-item  " type="button" routerLink="/adminViewCourse">View Course</button>

      </div>
    </div>


    <div class="dropdown ">
      <a class="btn " type="button" id="dropdownMenu2" data-toggle="dropdown">
        <i class="fa fa-comments  text-white " style="font-size: 25px;" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu  " aria-labelledby="dropdownMenu2 ">
        <button class="dropdown-item " type="button" routerLink="/adminMessage">Student</button>
        <button class="dropdown-item  " type="button" routerLink="/contactForm">Contact Form</button>
      </div>
    </div>

    <div class="dropdown    ">
      <a class="btn  " type="button" id="dropdownMenu2" data-toggle="dropdown">
        <i class="fa fa-rss  text-white " style="font-size: 25px;" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu  " aria-labelledby="dropdownMenu2 ">
        <button class="dropdown-item " type="button" routerLink="/adminBlog">Blog</button>
        <button class="dropdown-item  " type="button" routerLink="/pendingBlog">Pending Blog</button>
      </div>
    </div>

    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-danger mr-1"  type="submit">Log Out</button>
  </form>
</nav>
<!-- SideNav Bar -->

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" >

        <img class="avatar mat-elevation-z8" src="../../assets/images/logo1.png" />

        <h4 class="name">Bits And Byte</h4>

        <mat-divider></mat-divider>

        <a mat-button class="menu-button" routerLink="/adminDashboard">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>

        <a mat-button class="menu-button" routerLink="/addStudent">
            <mat-icon>group_add</mat-icon>
            <span>Add Student</span>
        </a>
        <a mat-button class="menu-button" routerLink="/studentDetails">
            <mat-icon>info</mat-icon>
            <span>Student Details</span>
        </a>

 
        <a mat-button class="menu-button" routerLink="/addMaterial">
            <mat-icon>cloud_upload</mat-icon>
            <span>Material</span>
        </a>
        <a mat-button class="menu-button" routerLink="/addNotice">
          <mat-icon>more</mat-icon>
          <span>Notice</span>
      </a>


      

      
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="content mat-elevation-z8 ">
        <!-- <div class="content mat-elevation-z8"> -->
          
           
              <div class="content">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/adminDashboard">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Student Message </li>
                  </ol>
                </nav>

             <div class="table_responsive">

                  <table class="table table-striped table-light table-hover mt-3">
                    <thead class="thead text-white" style="background-color: #004a9f;">
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Student Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Message</th>    
                        <th scope="col">Admin Message</th>
                        <th scope="col">Action</th>
                   
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let message of studentMessage">
                        <th scope="row">{{message.time}}</th>
                        <td>{{message.userId}}</td>
                        <td>{{message.userName}}</td>
                        <td>{{message.studentSubject}}</td>
                        <td>{{message.studentMessage}}</td>
                        <td> {{message.reply}}</td>
                  
                        <td>
                          <button  (click)="openVerticallyCentered(content,message)" class="btn btn-info my-1 mr-1"  > <i class="fa fa-reply mr-1  text-white"  aria-hidden="true"></i>Reply</button>
                          <button class="btn btn-danger "> <i class="fa fa-trash  text-white" aria-hidden="true"></i> Delete</button>
                      </td>
                    
                      </tr>
                  
               

                      
                    </tbody>
                  </table>
                </div>

                <ng-template #content let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title">Message Reply</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form  [formGroup]="editProfileForm" (ngSubmit)="updateMessage()" >
                      <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">ID :</label>
                        <div class="col-sm-10">
                          <input type="text" readonly class="form-control-plaintext" formControlName="userId" name="userId" id="userId">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Name :</label>
                        <div class="col-sm-10">
                          <input type="text" readonly name="userName" formControlName="userName" class="form-control-plaintext" id="userName">
                        </div>
                      </div>

                     

                      <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Message :</label>
                        <div class="col-sm-10">
                          <input type="text" formControlName="studentMessage" readonly class="form-control-plaintext" name="studentMessage" id="studentMessage">
                        </div>
                      </div>
                      
                      
                      <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Reply :</label>
                        <div class="col-sm-10">
                          <textarea type="text" formControlName="reply" name="reply"   class="form-control" id="reply" rows="3"></textarea>
                        </div>
                      </div>

   
                     
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-info float-right"  name="register"
                    value="register" (click)="updateMessage()">Submit</button>
                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                  </div>
                </ng-template>

             
                  

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>