<nav class="navbar navbar-dark text-white  justify-content-between" style="background-color: #004a9f; padding: 3px;">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <a class="navbar-brand ml-3"> Bits And Byte Institute of Technology</a>
    <form class="form-inline">

        <input class="form-control mr-sm-2" type="search" name="searchText" [(ngModel)]="searchText" placeholder="Search" aria-label="Search">
        <button class="btn btn-danger mr-1  " type="submit" (click)='logout()'>Log Out</button>
    </form>
</nav>
<!-- SideNav Bar -->

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">

        <img class="avatar mat-elevation-z8" src="../../assets/images/user.jpg" />

        <h4 class="name">{{user.name}}</h4>

        <mat-divider></mat-divider>

        <a mat-button class="menu-button" routerLink="/userDashboard">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>

        <a mat-button class="menu-button" routerLink="/userProfile">
            <mat-icon>person</mat-icon>
            <span>My Profile</span>
        </a>

        <a mat-button class="menu-button" routerLink="/userBlog">
            <mat-icon>view_carousel</mat-icon>
            <span>Blog</span>
        </a>

        <a mat-button class="menu-button" routerLink="/createBlog">
            <mat-icon>create</mat-icon>
            <span>Create Blog</span>
        </a>

        
        <a mat-button class="menu-button" routerLink="/userPendingBlog">
            <mat-icon> near_me</mat-icon>
            <span>Pending Blog</span>
        </a>



   


    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="content mat-elevation-z8">


        <div class="content">


            <div class="card mb-3 overflow-auto" style="max-width: 100%; background-image: url(../../assets/images/notice.jpg); height: 300px;">
                <div class="row no-gutters">

                    <div class="col-md-12" >
                        <div class="card-body ">
                           
                           
                            <marquee width="100%" direction="left"  class="text-white">
                                <ol start="1" class="text-white" >
                                  <div *ngFor="let notice of noticeList">
                                    <li>
                                        <p> {{notice.title}}
                                            <a href="{{notice.link}}" *ngIf="notice.link" target="_blank"> <button
                                                    class="btn btn-danger text-white">Click Here</button></a>
                                        </p>
                                    </li>
                                  </div>
                                </ol>
                            </marquee>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-lg-4 col-md-4 col-sm-12 my-1" *ngFor="let course of courseList | filter : searchText">
                    <div class="card ">
                        <img class="card-img-top" src="{{course.courseImgUrl}}" *ngIf="course.courseImgUrl" width="100%"
                            height="200px" class="card_img" alt="Card image cap">
                        <img class="card-img-top" src="../../assets/images/logo2.png" *ngIf="!course.courseImgUrl"
                            width="100%" height="200px" class="card_img" alt="Card image cap">
                        <div class="card-body l-bg-blue-dark">
                            <h5 class="card-title">{{course.courseName}}</h5>
                            <p class="card-text"
                                style=" text-overflow: ellipsis;   overflow: hidden;white-space: nowrap;"
                                [innerHtml]="course.courseDescription">
                            </p>
                            <a  class="btn btn-info">Read More</a>
                          
                        </div>
                    </div>
                </div>
            </div>

           

        </div>


    </mat-sidenav-content>
</mat-sidenav-container>