<app-home-navbar></app-home-navbar>

<div class="content">
    <div class="vtimeline-content">
        <a href="#"><img src="../../assets/images/shot.gif" alt="" class="img-fluid mb20 bd "
                style="height: 300px; width: 50%;"></a>
    
  
        <ul class="post-meta list-inline mt-4">
            <li class="list-inline-item">
                <i class="fa fa-user-circle-o"></i> John Doe
            </li>
            <li class="list-inline-item ml-5">
                <i class="fa fa-calendar-o"></i> 25 June 2020
            </li>
        
        </ul>

        <div>
            <h3>Standard post title</h3>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet
            urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi
            dapibus porta quam laoreet placerat.
        </p><br>



    </div>
</div>
<div style="margin-top: 100px">
    <app-footer></app-footer>
</div>