<nav class="navbar navbar-dark text-white  justify-content-between" style="background-color: #004a9f; padding: 3px;">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <a class="navbar-brand ml-3"> Bits And Byte Institute of Technology</a>
    <form class="form-inline">

   
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-danger mr-1" type="submit">Log Out</button>
    </form>
</nav>
<!-- SideNav Bar -->

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">

        <img class="avatar mat-elevation-z8" src="../../assets/images/user.jpg" />

        <h4 class="name">Alok Sinha</h4>

        <mat-divider></mat-divider>

        <a mat-button class="menu-button" routerLink="/userDashboard">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>

        <a mat-button class="menu-button" routerLink="/userProfile">
            <mat-icon>person</mat-icon>
            <span>My Profile</span>
        </a>

        <a mat-button class="menu-button" routerLink="/userBlog">
          <mat-icon>view_carousel</mat-icon>
          <span>Blog</span>
      </a>

      <a mat-button class="menu-button" routerLink="/createBlog">
          <mat-icon>create</mat-icon>
          <span>Create Blog</span>
      </a>

      
      <a mat-button class="menu-button" routerLink="/userPendingBlog">
          <mat-icon> near_me</mat-icon>
          <span>Pending Blog</span>
      </a>



    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="content mat-elevation-z8">


      <div class="content">
        <div *ngFor='let blog of blogList'>
        <div class="card mb-3" *ngIf='blog.userId===currentUser.id && blog.approvalType === 0' style="max-width: 100%;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{blog.imgUrl}}" style="width: 100%; height: 250px;" class="card-img " alt="...">
            </div>
            <div class="col-md-8 l-bg-blue-dark">
              <div class="card-body ">
                <span><i class="fa fa-heart text-white float-right fa-2x"></i></span>
                <h5 class="card-title text-white mb-0">By {{blog.userName}}<i></i> </h5>
               <h5> <i class="fa fa-star text-white mr-1 mt-0"></i>
                <i class="fa fa-star text-white mr-1"></i>
                <i class="fa fa-star text-white mr-1"></i>
                <i class="fa fa-star text-white mr-1"></i>
                <i class="fa fa-star text-white mr-1"></i>
               </h5>
              
               <h3> Topic : {{blog.topic}}</h3>
                <p class="card-text" [innerHtml]="blog.content"></p>
                <p class="card-text"><small class="text-muted">{{blog.creationDateTime}}</small></p>
                <button class="btn btn-outline-info text-white" >Pending</button>
                <button class="btn btn-danger text-white ml-2" (click)="delete(blog.blogId)" >Delete</button>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>

    </mat-sidenav-content>
</mat-sidenav-container>