<app-home-navbar></app-home-navbar>

            <div class="content">
              <div *ngFor='let blog of blogList'>
              <div class="card mb-3 shadow d-flex" *ngIf='blog.approvalType === 1' style="max-width: 100%;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{{blog.imgUrl}}" style="width: 100%; height: 250px;" class="card-img " alt="...">
                  </div>
                  <div class="col-md-8 l-bg-blue-dark">
                    <div class="card-body ">
                      <span><i class="fa fa-heart text-white float-right fa-2x"></i></span>
                      <h5 class="card-title text-white mb-0">By {{blog.userName}}<i></i> </h5>
                     <h5> <i class="fa fa-star text-white mr-1 mt-0"></i>
                      <i class="fa fa-star text-white mr-1"></i>
                      <i class="fa fa-star text-white mr-1"></i>
                      <i class="fa fa-star text-white mr-1"></i>
                      <i class="fa fa-star text-white mr-1"></i>
                     </h5>
                    
                     <h3> Topic : {{blog.topic}}</h3>
                      <p class="card-text" [innerHtml]="blog.content"></p>
                      <p class="card-text"><small class="text-muted">{{blog.creationDateTime}}</small></p>
                      <button class="btn btn-info text-white">Read More ..</button>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
      

