

.content {
    
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    font-size: 1rem;

}













.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}
