mat-toolbar {
    background: #004a9f;
    color: white;
    display: inline-block;   
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    justify-content: center;
    font-size: 1rem;
    
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    color: white;

   
}
mat-icon {
    margin-right: 8px;
}
.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

table {
    width: 100%;
    border-radius: 10px 10px red;
    
    
  }

  th{
      background-color: #002b5c;
      color: white;

  }


  
/* table */

.table_responsive {
	max-width: 100%;
	border: 1.5px solid #00bcd4;
	padding: 10px;
	overflow: auto;
	margin: auto;
	border-radius: 1px;
}

table {
	width: 100%;
	font-size: 13px;

	white-space: nowrap;
	border-collapse: collapse;
}

table>thead {
	background-color:#002b5c;
	color: #fff;
    font-size: 15px;
}

table>tbody>tr {
	background-color: #fff;
	transition: 0.3s ease-in-out;
}

table>thead th {
	padding: 15px;
}

table th, table td {
	border: 1px solid #00000017;
	padding: 10px 15px;
}

table>tbody>tr:nth-child(even) {
	background-color: rgb(238, 238, 238);
}

table>tbody>tr:hover {
	filter: drop-shadow(10px 15px 6px #0002);
}

/* Modal Screen */
.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }


  /* modal text area */
  .modal_text{
      color: red;
      font-size: 18px;
      font-weight: 500;
      font-family: Georgia, 'Times New Roman', Times, serif;
      

  }