
<nav class="navbar navbar-dark text-white  justify-content-between" style="background-color: #004a9f;padding: 2px;">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <a class="navbar-brand ml-3"> Bits And Byte Institute of Technology</a>
    <form class="form-inline">
     
      
      <a class="btn mr-1" type="button" routerLink="/studentBlog" id="dropdownMenu2" data-toggle="dropdown" >
        <i class="fa fa-rss text-white fa-2x" style="font-size: 25px;" aria-hidden="true"></i> 
   </a>


      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-danger mr-1" type="submit">Log Out</button>
    </form>
  </nav>
<!-- SideNav Bar -->

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" >

        <img class="avatar mat-elevation-z8" src="../../assets/images/user.jpg" />

        <h4 class="name">{{student.studentName}}</h4>

        <mat-divider></mat-divider>

        <a mat-button class="menu-button" routerLink="/studentDashboard"  >
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>

        <a mat-button class="menu-button" routerLink="/studentProfile">
            <mat-icon>person</mat-icon>
            <span>My Profile</span>
        </a>
        <a mat-button class="menu-button" routerLink="/message">
            <mat-icon>message</mat-icon>
            <span>Message</span>
        </a>

    

        <a mat-button class="menu-button" routerLink="/studentCourse">
          <mat-icon>file_copy</mat-icon>
          <span>Courses</span>
      </a>
    
      

        <a mat-button class="menu-button" routerLink="/studentMaterial">
            <mat-icon>more</mat-icon>
            <span>View Material</span>
        </a>
       

      
    </mat-sidenav>

    <!-- Main Content -->
     <mat-sidenav-content class="content mat-elevation-z8 ">
        <!-- <div class="content mat-elevation-z8"> -->
            <h1 class="text-center mt-4 text-primary "> <strong>Send Message</strong> </h1>
            <div class="content ">

           

                <form #userform='ngForm' (ngSubmit)='sendMessage()'>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Subject</label>
                      <input type="text" [(ngModel)]='studentMessage.studentSubject' required #subject='ngModel' id="subject" name="subject" class="form-control"  placeholder="Enter Message Subject">
                    </div>
                  
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Message</label>
                      <textarea [(ngModel)]='studentMessage.studentMessage' required #msg='ngModel' id="msg" name="msg" class="form-control" rows="5" > </textarea>
                    </div>

                    <button class="btn btn-primary" name="register"
                    value="register" >Submit</button>
                  </form>

                  <div class="table_responsive mt-3">
                  <table class="table table-striped table-light table-hover mt-3">
                    <thead class="thead text-white" style="background-color: #004a9f;">
                      <tr>
                        <th scope="col">Student ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Message</th>
                        <th scope="col">Reply</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let message of messageList"> 

                        <th scope="row" *ngIf='message.userId===student.studentSr'>{{message.userId}}</th>
                        <td  *ngIf='message.userId===student.studentSr'>{{message.userName}}</td>
                        <td  *ngIf='message.userId===student.studentSr'>{{message.studentSubject}}</td>
                        <td  *ngIf='message.userId===student.studentSr'> {{message.studentMessage}}</td>
                        <td  *ngIf='message.userId===student.studentSr'> {{message.reply}}</td>
                     

                  
                      </tr>
   
                    </tbody>
                  </table>
                </div>
                  

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>