<app-home-navbar></app-home-navbar>
<!-- Slider Section -->
<div class="content">
  <!-- <ngb-carousel class="shadow d-flex" >
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/s1.png" width="100%"  alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>10 seconds between slides...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/s2.png" width="100%" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>No mouse events...</h3>
      <p>This carousel doesn't pause or resume on mouse events</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/s3.png" width="100%" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>No keyboard...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/s4.png" width="100%" alt="Random fourth slide">
    </div>
    <div class="carousel-caption">
      <h3>And no wrap after last slide.</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/s5.png" width="100%" alt="Random fourth slide">
    </div>
    <div class="carousel-caption">
      <h3>And no wrap after last slide.</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  
  
</ngb-carousel>


 slider -->


  
    <div class="row no-gutters">
      

      <div class="col-md-8  col-sm-12 " >

        <ngb-carousel class="shadow d-flex">
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../../assets/images/s1.png" width="100%"  height="350px"  alt="Random first slide">
            </div>
            <!-- <div class="carousel-caption">
              <h3>10 seconds between slides...</h3>
              <p>This carousel uses customized default values.</p>
            </div> -->
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../../assets/images/s2.png" width="100%" height="350px"  alt="Random second slide">
            </div>
          
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../../assets/images/s3.png" width="100%" height="350px"  alt="Random third slide">
            </div>
            
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../../assets/images/s4.png" width="100%" height="350px" alt="Random fourth slide">
            </div>
          
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../../assets/images/s5.png" width="100%" height="350px" alt="Random fourth slide">
            </div>
            
          </ng-template>
        </ngb-carousel>
      </div>



      <div class="col-md-4 col-sm-12"  style="height: 350px; " >

        <div class="card  overflow-auto "
          style="max-width: 100%; background-image: url(../../assets/images/notice.jpg); height: 350px;">
          <div class="row no-gutters">

            <div class="col-md-12">
              <div class="card-body ">
                <marquee width="100%" direction="up" class="text-white">
                  <ol start="1" class="text-white">
                    <div *ngFor="let notice of noticeList">
                      <li>
                        <p> {{notice.title}}
                          <a href="{{notice.link}}" *ngIf="notice.link" target="_blank"> <button
                              class="btn btn-danger text-white" style="font-size: 10px; border-radius: 15px;">Click Here</button></a>
                        </p>
                      </li>
                    </div>
                  </ol>
                </marquee>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>



    <h1 class="text-center mt-5"
    style="font-size: 35px; color:#242686   ; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
    <strong>Available Courses</strong> </h1>
    <h3 class="text-center text-dark" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">It always seems impossible until it’s done.</h3>

  <div class="row mt-3">
    
    <div class="col-lg-3 col-md-6 col-sm-6 my-1 " *ngFor="let course of courseList ">
      <button class="glow-on-hover" type="button" style="height: 90px;">{{course.courseName}}</button>
    </div>
  </div>



</div>


<!-- 
<div class="container">
    <div class="row">
        <div class="col-md-3" style="">
            <img src="../../assets/images/mock.gif" alt="">

        </div>
        <div class="col-md-3">
            <img src="../../assets/images/mock.gif" alt="">

        </div>
        <div class="col-md-3">
            <img src="../../assets/images/mock.gif" alt="">

        </div>
        <div class="col-md-3">
            <img src="../../assets/images/mock.gif" alt="">

        </div>
        
    </div>
</div>
<button mat-fab color="accent">Accent</button>
   
 -->

<div class="moto ">


  <div class="card mb-3 shadow d-flex ">
    <h1 class="text-center mt-3"
      style="font-size: 35px; color:#242686   ; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
      <strong>Our Moto</strong> </h1>
      <h3 class="text-center"> Strive for progress, not perfection.</h3>
    <div class="row no-gutters ">
      <div class="col-md-3">
        <img src="../../assets/images/career.gif" style="width: 100%; height: 200px;" class="card-img " alt="...">
      </div>

      <div class="col-md-3">
        <img src="../../assets/images/demo.gif" style="width: 100%; height: 200px;" class="card-img " alt="...">
      </div>

      <div class="col-md-3">
        <img src="../../assets/images/industrial.gif" style="width: 100%; height: 200px;" class="card-img " alt="...">
      </div>

      <div class="col-md-3">
        <img src="../../assets/images/mock.gif" style="width: 100%; height: 200px;" class="card-img " alt="...">
      </div>

    </div>
  </div>



</div>





<app-footer></app-footer>
<button type="button" class="float btn btn-secondary" routerLink="/homeContact">
  <i class="fa fa-comment my-float fa-2x" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i>
</button>