<nav class="navbar navbar-dark text-white  justify-content-between   " style="background-color: #004a9f;padding: 2px;">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  <a class="navbar-brand ml-2"> Bits And Byte Institute of Technology</a>
  <form class="form-inline">

    <div class="dropdown ">
      <a class="btn " type="button" id="dropdownMenu2" data-toggle="dropdown">
        <i class="	fa fa-book text-white " style="font-size: 25px;" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu  " aria-labelledby="dropdownMenu2 ">
        <button class="dropdown-item " type="button" routerLink="/addCourse">Add Course</button>
        <button class="dropdown-item  " type="button" routerLink="/adminViewCourse">View Course</button>

      </div>
    </div>


    <div class="dropdown ">
      <a class="btn " type="button" id="dropdownMenu2" data-toggle="dropdown">
        <i class="fa fa-comments  text-white " style="font-size: 25px;" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu  " aria-labelledby="dropdownMenu2 ">
        <button class="dropdown-item " type="button" routerLink="/adminMessage">Student</button>
        <button class="dropdown-item  " type="button" routerLink="/contactForm">Contact Form</button>
      </div>
    </div>

    <div class="dropdown    ">
      <a class="btn  " type="button" id="dropdownMenu2" data-toggle="dropdown">
        <i class="fa fa-rss  text-white " style="font-size: 25px;" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu  " aria-labelledby="dropdownMenu2 ">
        <button class="dropdown-item " type="button" routerLink="/adminBlog">Blog</button>
        <button class="dropdown-item  " type="button" routerLink="/pendingBlog">Pending Blog</button>
      </div>
    </div>

    <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchText" name ="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-danger mr-1"  type="submit">Log Out</button>
  </form>
</nav>
<!-- SideNav Bar -->

<mat-sidenav-container>
  
    <mat-sidenav #sidenav="matSidenav" >

        <img class="avatar mat-elevation-z8" src="../../assets/images/logo1.png" />

        <h4 class="name">Bits And Byte</h4>

        <mat-divider></mat-divider>

        <a mat-button class="menu-button" routerLink="/adminDashboard">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>

        <a mat-button class="menu-button" routerLink="/addStudent">
            <mat-icon>group_add</mat-icon>
            <span>Add Student</span>
        </a>
        <a mat-button class="menu-button" routerLink="/studentDetails">
            <mat-icon>info</mat-icon>
            <span>Student Details</span>
        </a>

     
        <a mat-button class="menu-button">
            <mat-icon>cloud_upload</mat-icon>
            <span>Material</span>
        </a>

        <a mat-button class="menu-button" routerLink="/addNotice">
          <mat-icon>more</mat-icon>
          <span>Notice</span>
      </a>


       

      
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="content mat-elevation-z8">

      <div class="content">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/adminDashboard">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Pending Blog </li>
          </ol>
        </nav>
        <div *ngFor='let blog of blogList | filter : searchText'>
        <div class="card mb-3" *ngIf="blog.approvalType === 0"  style="max-width: 100%;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{blog.imgUrl}}" style="width: 100%; height: 250px;" class="card-img " alt="...">
            </div>
            <div class="col-md-8 l-bg-blue-dark">
              <div class="card-body ">
                <span><i class="fa fa-heart text-white float-right fa-2x"></i></span>
                <h5 class="card-title text-white mb-0">By Alok Sinha<i></i> </h5>
               <h5> <i class="fa fa-star text-white mr-1 mt-0"></i>
                <i class="fa fa-star text-white mr-1"></i>
                <i class="fa fa-star text-white mr-1"></i>
                <i class="fa fa-star text-white mr-1"></i>
                <i class="fa fa-star text-white mr-1"></i>
               </h5>
              
               <h3> Topic : {{blog.topic}}</h3>
                <p class="card-text" [innerHtml]="blog.content"></p>
                <p class="card-text"><small class="text-muted">{{blog.creationDateTime}}</small></p>
                <button class="btn btn-outline-info text-white" (click)="approveBlog(blog.blogId)">Apporve</button>
                <button class="btn btn-danger text-white ml-2" (click)="deleteBlog(blog.blogId)">Discard</button>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>




  </mat-sidenav-content>
</mat-sidenav-container>