<nav class="navbar navbar-dark text-white  justify-content-between" style="background-color: #004a9f; padding: 2px; ">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  <a class="navbar-brand ml-3"> Bits And Byte Institute of Technology</a>
  <form class="form-inline">

   
          <a class="btn mr-1" type="button" routerLink="/studentBlog" id="dropdownMenu2" data-toggle="dropdown" >
               <i class="fa fa-rss text-white fa-2x" style="font-size: 25px;" aria-hidden="true"></i> 
          </a>
     

      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-danger mr-1" type="submit">Log Out</button>
  </form>
</nav>
<!-- SideNav Bar -->

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">

        <img class="avatar mat-elevation-z8" src="../../assets/images/user.jpg" />

        <h4 class="name">Alok Sinha</h4>

        <mat-divider></mat-divider>

        <a mat-button class="menu-button" routerLink="/studentDashboard">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>

        <a mat-button class="menu-button" routerLink="/studentProfile">
            <mat-icon>person</mat-icon>
            <span>My Profile</span>
        </a>
        <a mat-button class="menu-button" routerLink="/message">
            <mat-icon>message</mat-icon>
            <span>Message</span>
        </a>

        <a mat-button class="menu-button" routerLink="/studentCourse">
          <mat-icon>file_copy</mat-icon>
          <span>Courses</span>
      </a>

        <a mat-button class="menu-button" routerLink="/studentMaterial">
            <mat-icon>more</mat-icon>
            <span>View Material</span>
        </a>



    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="content mat-elevation-z8">


      <div class="content">
        <div *ngFor='let blog of blogList'>
        <div class="card mb-3" *ngIf='blog.approvalType === 1' style="max-width: 100%;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{blog.imgUrl}}" style="width: 100%; height: 250px;" class="card-img " alt="...">
            </div>
            <div class="col-md-8 l-bg-blue-dark">
              <div class="card-body ">
                <span><i class="fa fa-heart text-white float-right fa-2x"></i></span>
                <h5 class="card-title text-white mb-0">By {{blog.userName}}<i></i> </h5>
               <h5> <i class="fa fa-star text-white mr-1 mt-0"></i>
                <i class="fa fa-star text-white mr-1"></i>
                <i class="fa fa-star text-white mr-1"></i>
                <i class="fa fa-star text-white mr-1"></i>
                <i class="fa fa-star text-white mr-1"></i>
               </h5>
              
               <h3> Topic : {{blog.topic}}</h3>
                <p class="card-text" [innerHtml]="blog.content"></p>
                <p class="card-text"><small class="text-muted">{{blog.creationDateTime}}</small></p>
                <button class="btn btn-info text-white">Read More ..</button>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>



    </mat-sidenav-content>
</mat-sidenav-container>