<footer>
    <div class="mt-5 pt-5 pb-5 footer">
     
            <div class="row">
                <div class="col-lg-5 col-xs-12">
                    <h2>Bits And Byte Institute of Technology</h2>
                    <p class="pr-5 text-dark-50 " style="font-size: 16px;">
                    Bits And Byte Institute of Technology offers you different computer courses that will 
                    improve your growth and helps to build good future by fitting you into modern tools 
                    and technology.
                    </p>

                    <ul class="social">
                        <li> <a href=""> <i class="fa fa-facebook-square"></i> </a></li>
                        <li> <a href=""> <i class="fa fa-instagram"></i> </a></li>
                        <li> <a href=""> <i class="fa fa-envelope"></i> </a></li>
                        <li> <a href=""> <i class="fa fa-linkedin-square"></i> </a></li>
   
                    </ul>
                </div>

                <div class="col-lg-3 col-xs-12 links">
                    <h4 class="mt-lg-0 mt-sm-3" style="font-size: 20px;" >Quick Links</h4>

                    <ul class="m-0 p-0 mt-0">

                        <li><a href="" style="font-size: 17px;">Home</a></li>

                        <li><a href="" style="font-size: 17px;" >Blog</a></li>
                        <li><a href="" style="font-size: 17px;">About Us</a></li>
                        <li><a href="" style="font-size: 17px;">Contact</a></li>
                      
                    </ul>
                </div>

                <div class="col-lg-4 col-xs-12 location">
                    <h4 class="mt-lg-0 mt-sm-4" style="font-size: 20px;">Location</h4>
                    <p class="mr-3"><i class="fa fa-map-marker  mr-3"></i>Gaur-3, Rautahat</p>
                    <p><i class="fa fa-phone mr-3"></i>+977-9845474532</p>
                    <p><i class="fa fa-envelope  mr-3"></i> bitsandbytetech@gmail.com</p>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col copyright text-center">
                    <p><small class="text-white-50">
                        All Rights Reserved &copy; Bits And Byte Institute of Technology
                    </small></p>

                </div>

            </div>
        

    </div>
</footer>