footer{
    background: url("../../assets/images/notice.jpg");
    color: white;
    width: 100vw;
    position: absolute;
}

.social{
    padding: 0;
    
}
h4{
    padding: 15px 0px;
}

.social li{
    display: inline-block;
    width:35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    
    line-height: 30px;
  
    color: white;
    margin: 8px;
    background: url(../../assets/images/notice.jpg);
    
    
}

.social li a i{
    padding-top: 4px;
    color: white;
    transition: .3s;
    font-size: 25px;
    
}

.social li a i:hover{
    color: grey  ;
    text-decoration: none;
}

.footer .links ul{
    list-style-type: none;
}

.footer .links li a {
    color: #fff;
    transition :color 0.2s;

}

.footer .links li a:hover{
    text-decoration: none;
    color:  #20F4BF ;
}


.p{

}
.footer .copyright p{
    font-size: 1.3rem;
    text-shadow: 1px 1px black;
    border-top: 1px solid rgb(255,255,255,0.8);
    border-bottom: 1px solid rgb(255,255,255,0.8);
}




.location{
    font-size: 18px;
}

/* @media (min-width:2560px){
    .footer{
        width: 100%;
    }

   
} */

.footer{
    margin-left: 20px;
    margin-right: 20px;
}