<nav class="navbar navbar-dark text-white  justify-content-between" style="background-color: #004a9f; padding: 3px;">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  <a class="navbar-brand ml-3"> Bits And Byte Institute of Technology</a>
  <form class="form-inline">

    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-danger mr-1" (click)='logout()' type="submit">Log Out</button>
  </form>
</nav>
<!-- SideNav Bar -->

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <img class="avatar mat-elevation-z8" src="../../assets/images/user.jpg" />
    <h4 class="name">Alok Sinha</h4>
    <mat-divider></mat-divider>
    <a mat-button class="menu-button" routerLink="/userDashboard">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </a>

    <a mat-button class="menu-button" routerLink="/userProfile">
      <mat-icon>person</mat-icon>
      <span>My Profile</span>
    </a>
    <a mat-button class="menu-button" routerLink="/userBlog">
      <mat-icon>view_carousel</mat-icon>
      <span>Blog</span>
    </a>

    <a mat-button class="menu-button" routerLink="/createBlog">
      <mat-icon>create</mat-icon>
      <span>Create Blog</span>
    </a>


    <a mat-button class="menu-button" routerLink="/userPendingBlog">
      <mat-icon> near_me</mat-icon>
      <span>Pending Blog</span>
    </a>




  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content class="content mat-elevation-z8">
  <div class="content">
      <div class="container mt-5">
        <div class="card">
          <form #questionform='ngForm' (ngSubmit)='onSubmit()' enctype="multipart/form-data">
            <h1 class="text-center text-info mt-2">Post Question</h1>
            <h3 class="text-dark"></h3>
            <div class="card-body">
              <div class="form-group">
                <label for="exampleInputEmail1">
                  <h3>Topic</h3>
                </label>
                <input type="text" class="form-control" [(ngModel)]='blog.topic' name="name" id="exampleInputEmail1"
                  aria-describedby="emailHelp" placeholder="Enter Question Topic">
              </div>
              <div class="form-group">
                <label for="description" [(ngModel)]='blog.content'>
                  <h3>Description</h3>
                </label>
                <editor [(ngModel)]='blog.content' name="content" [init]="{
              height: 300,
              menubar: false,
              mode : 'specific_textareas',
              selector: 'textarea',
              plugins: [
                'advlist autolink lists link image charmap print preview anchor codesample',
                'searchreplace visualblocks code fullscreen image imagetools image code',
                'insertdatetime media table paste code help wordcount'
              ],
          codesample_languages: [
          { text: 'TypeScript', value: 'typescript' },
          { text: 'JavaScript', value: 'javascript' },
          { text: 'HTML/XML', value: 'markup' },
          { text: 'CSS', value: 'css' }
        ],
              toolbar:
              'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | image codesample undo redo | link image | code'
            }"></editor>
              </div>

              <div class="form-group">
                <label for="inputLastName" class="label">Attachment</label>

                <input type="file" class="form-control" name="img_url" accept=".jpg,.jpeg,.png"
                  aria-describedby="emailHelp" (change)="onFileSelected($event)">
              </div>

              <button type="submit" class="btn btn-primary pull-right mb-3">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>