<nav class="navbar navbar-dark text-white  justify-content-between" style="background-color: #004a9f; padding: 2px; ">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  <a class="navbar-brand ml-3"> Bits And Byte Institute of Technology</a>
  <form class="form-inline">

   
          <a class="btn mr-1" type="button" routerLink="/studentBlog" id="dropdownMenu2" data-toggle="dropdown" >
               <i class="fa fa-rss text-white fa-2x" style="font-size: 25px;" aria-hidden="true"></i> 
          </a>
     

      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-danger mr-1" type="submit">Log Out</button>
  </form>
</nav>
  <!-- Side Nav Bar -->
  <mat-sidenav-container >
    <mat-sidenav #sidenav="matSidenav" >

      <img class="avatar mat-elevation-z8" src="../../assets/images/user.jpg" />

      <h4 class="name">Alok Sinha</h4>

      <mat-divider></mat-divider>

      <a mat-button class="menu-button" routerLink="/studentDashboard"  >
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </a>

      <a mat-button class="menu-button" routerLink="/studentProfile">
          <mat-icon>person</mat-icon>
          <span>My Profile</span>
      </a>
      <a mat-button class="menu-button" routerLink="/message">
          <mat-icon>message</mat-icon>
          <span>Message</span>
      </a>

   
      <a mat-button class="menu-button" routerLink="/studentCourse">
        <mat-icon>file_copy</mat-icon>
        <span>Courses</span>
    </a>
    

      <a mat-button class="menu-button" routerLink="/studentMaterial">
          <mat-icon>more</mat-icon>
          <span>View Material</span>
      </a>
     

    
  </mat-sidenav>
  <!-- Main Content Here -->
  
  <mat-sidenav-content class="content mat-elevation-z8 " style="background-image: url(../../assets/images/notice.jpg);">
    <!-- <div class="content mat-elevation-z8"> -->
        <h1 class="text-center mt-4 text-white ">Student Profile </h1>
        <div class="content ">

        <form >

         

          <!--  -->

          <div class="form-row float-right" >
            <div class="form-group col-md-3">
              <div style="text-align:center">
                     
                <div><img src="../../assets/images/alok.jpg"  width="250px" height="250px" class=" p_img"></div>
            
              </div>
              
              </div>
        </div>


          <!--  -->

            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="id" class="text-white">  Student ID :</label>
                   <h2 class="text-white"> <strong>21BAB0001</strong> </h2>
                  </div>

              <div class="form-group col-md-6">
                <label for="id" class="text-white">  Name :</label>
                <h2 class="text-white"> <strong>Alok Sinha</strong> </h2>
              </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="id" class="text-white">  Father's Name :</label>
                  <h2 class="text-white"> <strong>Ashok Kumar Shrivastav</strong> </h2>
                  </div>
              <div class="form-group col-md-6">
                <label for="id" class="text-white">  Mother's Name :</label>
                   <h2 class="text-white"> <strong>Kamala Kumari Shrivastav</strong> </h2>
              </div>
            </div>

            <!--  -->
           
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="id" class="text-white">  Gender :</label>
                <h2 class="text-white"> <strong>Male</strong> </h2>
                </div>
            <div class="form-group col-md-6">
              <label for="id" class="text-white">  Date Of Birth :</label>
                 <h2 class="text-white"> <strong>Nov 17, 2014</strong> </h2>
            </div>
          </div>

            <div class="form-row ">

                <div class="form-group col-md-6">
                  <label for="id" class="text-white">  Phone Number :</label>
                  <h2 class="text-white"> <strong>845123658</strong> </h2>
                  </div>
              <div class="form-group col-md-6">
                <label for="id" class="text-white">  Parent Number :</label>
                 <h2 class="text-white"> <strong>4581236584</strong> </h2>
              </div>

             
              
            </div>

            <div class="form-row ">

           
            <div class="form-group col-md-6">
              <label for="id" class="text-white">  Email :</label>
              <h2 class="text-white"> <strong>aloksinha@gmail.com </strong> </h2>
            </div>

            <div class="form-group col-md-6">
              <label for="id" class="text-white">  Blood Group :</label>
                 <h2 class="text-white"> <strong>B-</strong> </h2>
            </div>
            
          </div>

            <div class="form-group">
              <label for="id" class="text-white">  Current Address :</label>
              <h2 class="text-white"> <strong>Chennai, India</strong> </h2>
            </div>

            <div class="form-group">
              <label for="id" class="text-white">  Permanent Address :</label>
                 <h2 class="text-white"> <strong>Gaur-3, Ratutahat Nepal</strong> </h2>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">

                <label for="id" class="text-white">  Course Name :</label>
                <h2 class="text-white"> <strong>Java Full Stack Developer</strong> </h2>
              </div>

              <div class="form-group col-md-6">

              <label for="id" class="text-white">  Course Duration :</label>
                 <h2 class="text-white"> <strong>6 Months</strong> </h2>
              </div>

              <div class="form-group col-md-4">

                <label for="id" class="text-white">Status :</label>
                <h2 class="text-white"> <strong>Ongoing</strong> </h2>
              </div>

              <div class="form-group col-md-4">

                  <label for="id" class="text-white">  Nationality</label>
                 <h2 class="text-white"> <strong>Nepali</strong> </h2>
              </div>
             
            </div>         
          </form>

    </div>
</mat-sidenav-content>
  </mat-sidenav-container>